In [13]:
import numpy as np
import pandas as pd

In [58]:
# load a single file as a numpy array
df = pd.read_csv('../Data/WISDM_ar_v1.1_raw.txt',header=None,sep=",",error_bad_lines=False,names=["user-id","Activity","timestamp","X","Y","Z"])
df.head()

   user-id Activity       timestamp         X          Y             Z
0       33  Jogging  49105962326000 -0.694638  12.680544   0.50395286;
1       33  Jogging  49106062271000  5.012288  11.264028   0.95342433;
2       33  Jogging  49106112167000  4.903325  10.882658  -0.08172209;
3       33  Jogging  49106222305000 -0.612916  18.496431    3.0237172;
4       33  Jogging  49106332290000 -1.184970  12.108489     7.205164;

In [76]:
df['Z'].replace(regex=True, inplace=True,to_replace=r';',value=r'')
df['Z'] = df['Z'].astype(np.float64)

In [77]:
# Differentiate between test set and training set
df_test = df[df['user-id'] > 28]
df_train = df[df['user-id'] <= 28]

In [78]:
mean_val = df_test.iloc[:,-3:].mean(axis=0)

In [88]:
df_train.isnull().count()

user-id      834781
Activity     834781
timestamp    834781
X            834781
Y            834781
Z            834781
dtype: int64

In [92]:
df_train.dropna()

         user-id Activity        timestamp         X          Y         Z
8489          17  Walking   57869902574000  0.572055   9.806650 -0.531194
8490          17  Walking   57870012316000 -0.000000  10.188020 -0.572055
8491          17  Walking   57870122301000 -0.231546   9.847511 -0.694638
8492          17  Walking   57870222246000  0.149824  10.079058 -0.503953
8493          17  Walking   57870332292000  0.149824  10.147159 -0.612916
...          ...      ...              ...       ...        ...       ...
1098199       19  Sitting  131623331483000  9.000000  -1.570000  1.690000
1098200       19  Sitting  131623371431000  9.040000  -1.460000  1.730000
1098201       19  Sitting  131623411592000  9.080000  -1.380000  1.690000
1098202       19  Sitting  131623491487000  9.000000  -1.460000  1.730000
1098203       19  Sitting  131623531465000  8.880000  -1.330000  1.610000

[834780 rows x 6 columns]

In [97]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(df_train[["X","Y","Z"]])

# # normalization
# tmp = df_train[["X","Y","Z"]].copy()
# mu = tmp.mean()
# sigma = [np.std(tmp[col]) for col in ["X","Y","Z"]]
# tmp
# x_train = (tmp-mu)/sigma

In [141]:
from sklearn.preprocessing import LabelEncoder
from keras.utils import np_utils
le = LabelEncoder()
y_train = le.fit_transform(df_train["Activity"])

In [152]:
from scipy import stats
def create_segments_and_labels(x,y, time_steps=80, step=40, label_name=""):
    # x, y, z acceleration as features
    N_FEATURES = 3
    # Number of steps to advance in each iteration (for me, it should always
    # be equal to the time_steps in order to have no overlap between segments)
    # step = time_steps
    segments = []
    labels = []
    print("length",len(x))
    for i in range(0, len(x) - time_steps, step):
        xs = x[i: i + time_steps,0]
        ys = x[i: i + time_steps,1]
        zs = x[i: i + time_steps,2]
        # Retrieve the most often used label in this segment
        label = stats.mode(y[i: i + time_steps])[0][0]
        segments.append([xs, ys, zs])
        labels.append(label)
    print(segments)
    # Bring the segments into a better shape
    reshaped_segments = np.asarray(segments, dtype= np.float32).reshape(-1, time_steps, N_FEATURES)
    labels = np.asarray(labels)

    return reshaped_segments, labels
create_segments_and_labels(x_train,y_train)

length 834781

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

(array([[[ 0.01638006, -0.06534306, -0.09842147],
         [-0.04393939, -0.04393939,  0.02221743],
         [-0.04977675, -0.08090937, -0.07701779],
         ...,
         [-0.7818222 , -0.03400549, -0.51091504],
         [-0.14688349, -0.4714077 , -0.59839547],
         [-0.14688349,  0.107092  ,  0.9339233 ]],

        [[ 0.14285633,  0.15453106,  0.27906156],
         [ 0.4755862 ,  0.3004652 ,  0.15453106],
         [ 0.1817721 ,  0.05529584, -0.05366833],
         ...,
         [-0.9567831 , -0.32184437, -0.6858759 ],
         [-0.23436393,  0.0111457 , -0.9313855 ],
         [-0.22589807, -0.33595413,  1.0129379 ]],

        [[ 0.22457945,  0.27906156, -0.1801446 ],
         [ 0.27906156,  0.7227013 ,  0.36078465],
         [ 0.08253689,  0.1973384 ,  0.04362111],
         ...,
         [-0.9483173 , -0.12995179, -0.05940304],
         [-0.16945909, -0.4714077 , -0.28798097],
         [-0.14688349,  0.4259723 ,  1.3543938 ]],

        ...,

        [[ 1.1818156 ,  1.2146733 ,  1.1932443 ],
         [ 1.2032444 ,  1.2146733 ,  1.2089589 ],
         [ 1.2146733 ,  1.2089589 ,  1.2089589 ],
         ...,
         [ 0.36933076,  0.37761822,  0.37761822],
         [ 0.36933076,  0.3610433 ,  0.37761822],
         [ 0.3610433 ,  0.36933076,  0.3610433 ]],

        [[ 1.2089589 ,  1.2032444 ,  1.2032444 ],
         [ 1.2146733 ,  1.2032444 ,  1.2089589 ],
         [ 1.2032444 ,  1.2032444 ,  1.2146733 ],
         ...,
         [ 0.40040872,  0.36933076,  0.3610433 ],
         [ 0.3610433 ,  0.38590568,  0.36933076],
         [ 0.37761822,  0.36933076,  0.3610433 ]],

        [[ 1.2089589 ,  1.2089589 ,  1.2032444 ],
         [ 1.2032444 ,  1.1989588 ,  1.1989588 ],
         [ 1.2089589 ,  1.2089589 ,  1.2089589 ],
         ...,
         [ 0.3610433 ,  0.36933076,  0.35275584],
         [ 0.36933076,  0.40040872,  0.37761822],
         [ 0.36933076,  0.38590568,  0.40040872]]], dtype=float32),
 array([5, 5, 5, ..., 2, 2, 2]))

In [131]:

num_classes = le.classes_.size
y_train = np_utils.to_categorical(y_train, num_classes) # alternative to one hot encoding

array([0.3935874 , 0.44952052, 0.39958023, 0.43353976, 0.4435277 ,
       0.41556114, 0.42155396, 0.42754693, 0.43953258, 0.42155396])

# Creating testing dataset